* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a :focus, a :active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input ::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button ::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
body {
  font-family: Steppe-Book, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  font-size: 20px;
}

.title {
  font-family: Steppe-ExtraBold, sans-serif;
  font-weight: 600;
}

.button {
  border: none;
  font-size: 18px;
  padding: 15px;
  border-radius: 20px;
  text-align: center;
  background-color: #7b68ee;
  color: #fff;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #6857c9;
}

.header {
  padding-top: 90px;
  padding-bottom: 100px;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(315deg, #655d8a, #1a1a40);
}
@media (max-width: 1200px) {
  .header {
    padding-top: 70px;
    padding-bottom: 80px;
  }
}
@media (max-width: 992px) {
  .header {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}
@media (max-width: 768px) {
  .header {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 768px) {
  .header__inner {
    gap: 25px;
  }
}
.header__photo {
  max-width: 300px;
  max-height: 300px;
}
.header__photo img {
  border-radius: 50%;
  width: 100%;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.header__title {
  font-size: 45px;
  font-family: Steppe-ExtraBold, sans-serif;
  line-height: 120%;
}
@media (max-width: 425px) {
  .header__title {
    font-size: 35px;
  }
}
.header__subtitle {
  font-size: 20px;
  font-weight: 400;
}
.header__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 768px) {
  .header__socials {
    gap: 25px;
  }
}
.header__social {
  max-width: 32px;
  max-height: 32px;
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}
.header__social img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about {
  padding-top: 80px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.about__text {
  font-size: 25px;
  line-height: 140%;
  text-align: center;
  max-width: 700px;
  font-weight: 300;
  margin: 0 auto;
}
.about__exp {
  font-size: 20px;
  text-align: center;
}
.about-list__item {
  position: relative;
  margin-bottom: 10px;
}
.about-list__item:last-child {
  margin-bottom: 0;
}

.stat__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.stat__title {
  font-size: 24px;
  font-family: Steppe-Extrabold, sans-serif;
}
.stat__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.stat-list__item {
  font-size: 18px;
}

.advantages__inner {
  padding-top: 80px;
  padding-bottom: 40px;
}
@media (max-width: 1200px) {
  .advantages__inner {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}
@media (max-width: 992px) {
  .advantages__inner {
    padding-top: 50px;
    padding-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .advantages__inner {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}
.advantages__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768px) {
  .advantages__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}
.advantages__cards .advantages-card {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  max-width: 300px;
}
.advantages__cards .advantages-card__title {
  font-size: 24px;
  line-height: 130%;
}
.advantages__cards .advantages-card__subtitle {
  font-size: 18px;
  height: 110px;
}
@media (max-width: 768px) {
  .advantages__cards .advantages-card__subtitle {
    max-width: 500px;
    margin: 0 auto;
  }
}

.quoteblock {
  position: relative;
  background: url(../img/quoteBG.jpg) center center/cover;
  background-attachment: fixed;
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.quoteblock__inner {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.quoteblock::after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.quoteblock__text {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  color: #fff;
}
.quoteblock__text .quote {
  font-size: 28px;
  line-height: 120%;
  font-weight: 600;
}
.quoteblock__text .author {
  font-size: 16px;
}

.education {
  padding-top: 70px;
  padding-bottom: 80px;
}
.education__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.education__title {
  font-size: 24px;
  line-height: 130%;
  text-align: center;
}
.education__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 50px;
}
@media (max-width: 1200px) {
  .education__cards {
    gap: 30px;
  }
}
@media (max-width: 992px) {
  .education__cards {
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .education__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.education__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
}

.education-card__title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.education-card__subtitle {
  font-size: 18px;
  text-align: center;
}

.reviews {
  padding-top: 50px;
  padding-bottom: 50px;
}
.reviews__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}
@media (max-width: 1200px) {
  .reviews__inner {
    gap: 40px;
  }
}
@media (max-width: 992px) {
  .reviews__inner {
    gap: 40px;
  }
}
@media (max-width: 768px) {
  .reviews__inner {
    gap: 40px;
  }
}
@media (max-width: 630px) {
  .reviews__inner {
    gap: 30px;
  }
}
.reviews__title {
  font-size: 24px;
  text-align: center;
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .review {
    max-width: 800px;
  }
}
@media (max-width: 992px) {
  .review {
    max-width: 600px;
  }
}
@media (max-width: 768px) {
  .review {
    max-width: 500px;
    gap: 20px;
  }
}
@media (max-width: 630px) {
  .review {
    max-width: 400px;
    gap: 10px;
  }
}
.review__text {
  font-size: 18px;
  line-height: 110%;
}
.review__info {
  font-size: 16px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}
.review__link {
  max-width: 24px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .review__link {
    margin-bottom: 20px;
  }
}

.swiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.swiper__wrapper {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.swiper-button-prev {
  background-color: #c7c7c7;
  left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 20px;
}
@media (max-width: 425px) {
  .swiper-button-prev {
    margin: 0;
    width: 20px;
    height: 20px;
    left: 5px;
  }
}
.swiper-button-next {
  background-color: #c7c7c7;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 20px;
}
@media (max-width: 425px) {
  .swiper-button-next {
    width: 20px;
    height: 20px;
    right: 5px;
    margin: 0;
  }
}
.swiper-button-next::after, .swiper-button-prev::after {
  color: #222222;
  font-size: 15px;
}
@media (max-width: 425px) {
  .swiper-button-next::after, .swiper-button-prev::after {
    font-size: 10px;
  }
}
.swiper .swiper-pagination-bullet {
  background-color: #c7c7c7;
}
.swiper .swiper-pagination-bullet-active {
  background-color: #222;
}

.price {
  padding-bottom: 60px;
}
.price__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.price__title {
  font-size: 24px;
  line-height: 110%;
  text-align: center;
}
.prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.prices__price {
  font-size: 18px;
  line-height: 130%;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
@media (max-width: 425px) {
  .prices__price {
    font-size: 14px;
  }
}
@media (max-width: 335px) {
  .prices__price {
    font-size: 13px;
  }
}
.prices__extra {
  font-size: 14px;
  font-weight: 600;
}
.prices__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
}
@media (max-width: 768px) {
  .prices__action .prices__button {
    padding: 10px;
  }
}
@media (max-width: 425px) {
  .prices__action .prices__button {
    font-size: 16px;
  }
}

.footer {
  position: relative;
  width: 100%;
  background-image: linear-gradient(315deg, #655d8a, #1a1a40);
  min-height: 100px;
  padding: 20px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  max-width: 32px;
  max-height: 32px;
}
.social-icon__link img {
  width: 100%;
  height: 100%;
}

.social-icon__link:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  text-align: center;
  font-weight: 300;
}

.footer p:last-child {
  margin: 0;
}

.footer__phone {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1.5rem;
  font-weight: 300;
}